*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
   
}
    @font-face{
        font-family: Roboto;
        src: url(../fonts/Roboto-Regular.ttf);
    }
 body{
   font-family: Roboto;
   background-image:url(../img/img13.jpg);
   text-align: center;
   background-size:100%;
   background-attachment: fixed;
   padding: 30px;

   
   }
   main{
       width: 70%;
       padding: 40px;
       background-color: yellow;
       margin-left: 15%; 
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       box-shadow: 0 0 10px 1px red ;
   }
    h1{
          width: 100%;
          font-size:50px ;
    }
    p{
        width: 1000%;
        font-size:25px ;
    }

    

       
  .photo{
      width: 160px;
      height: 160px;
      background-color:black;
      margin:17px;
      transition: all 0.5s ease;
  }
   .photo:hover{
   transform: rotate(360deg) scale(1.35);
   }
   .photo{
       background-image: url(../img/img1.jpg );
       background-size: 100%;
   }
   .photo1{ 
       background-image: url(../img/img2.png );
       background-size:100% ;
   }
   .photo2{ 
       background-image: url(../img/img3.png );
       background-size:100% ;
   }
   
   .photo3{ 
       background-image: url(../img/img4.jpg);
       background-size:100% ;
   }
   .photo4{ 
       background-image: url(../img/img5.jpg );
       background-size:100% ;
   }
   .photo5{ 
       background-image: url(../img/img6.jpg );
       background-size:100% ;
   }
   .photo6{ 
       background-image: url(../img/img7.png );
       background-size:100% ;
   }
   .photo7{ 
       background-image: url(../img/img8.jpg);
       background-size:100% ;
   }
   .photo8{ 
       background-image: url(../img/img9.jpg );
       background-size:100% ;
   }
   .photo9{ 
       background-image: url(../img/img10.png );
       background-size: 100%;
   }
   .photo10{ 
       background-image: url(../img/img11.jpg );
       background-size:100% ;
   } 
   .photo11{ 
       background-image: url(../img/img12.png );
       background-size:100% ;
   }
   .photo12{ 
       background-image: url(../img/img1.jpg);
       background-size:100% ;
   }